DB_SCHEMA="projects"
DATABASE_URL=`postgresql://johndoe:mypassword@localhost:5432/projectdb?schema=${DB_SCHEMA}`

PORT=3000
API_PREFIX="/v5"

AUTH_SECRET=secret
VALID_ISSUERS="['https://api.topcoder-dev.com', 'https://api.topcoder.com', 'https://topcoder-dev.auth0.com/']"

AUTH0_URL="http://localhost:4000/oauth/token"
AUTH0_PROXY_SERVER_URL="http://localhost:4000/oauth/token"
AUTH0_AUDIENCE="http://localhost:4000"
AUTH0_CLIENT_ID="abc123"
AUTH0_CLIENT_SECRET="secret"

BUSAPI_URL="http://localhost:4000/eventBus"

MAX_PHASE_PRODUCT_COUNT=100

