DB_SCHEMA="projects"
DATABASE_URL=`postgresql://johndoe:mypassword@localhost:5432/projectdb?schema=${DB_SCHEMA}`

PORT=3000
API_PREFIX="/v6"
PRISMA_TRANSACTION_TIMEOUT=60000

AUTH_SECRET=secret
VALID_ISSUERS='["https://api.topcoder-dev.com","https://api.topcoder.com","https://topcoder-dev.auth0.com/"]'

AUTH0_URL="http://localhost:4000/oauth/token"
AUTH0_PROXY_SERVER_URL="http://localhost:4000/oauth/token"
AUTH0_AUDIENCE="http://localhost:4000"
AUTH0_CLIENT_ID="abc123"
AUTH0_CLIENT_SECRET="secret"

M2M_AUTH_URL="https://topcoder-dev.auth0.com/oauth/token"
M2M_AUTH_CLIENT_ID="jGIf2pd3f44B1jqvOai30BIKTZanYBfU"
M2M_AUTH_CLIENT_SECRET="ldzqVaVEbqhwjM5KtZ79sG8djZpAVK8Z7qieVcC3vRjI4NirgcinKSBpPwk6mYYP"
M2M_AUTH_DOMAIN="topcoder-dev.auth0.com"
M2M_AUTH_AUDIENCE="https://m2m.topcoder-dev.com/"
M2M_AUTH_PROXY_SEREVR_URL="https://auth0proxy.topcoder-dev.com/token"

BUSAPI_URL="http://localhost:4000/eventBus"

MAX_PHASE_PRODUCT_COUNT=100
UNIQUE_GMAIL_VALIDATION=false

IDENTITY_SERVICE_ENDPOINT="http://localhost:4000/identity"
MEMBER_SERVICE_ENDPOINT="https://api.topcoder-dev.com/v5/members"
COPILOT_PORTAL_URL="https://copilots.topcoder-dev.com"
WORK_MANAGER_URL="https://challenges.topcoder-dev.com"
ACCOUNTS_APP_URL="https://accounts.topcoder-dev.com"
INVITE_EMAIL_SUBJECT="You are invited to Topcoder"
INVITE_EMAIL_SECTION_TITLE="Project Invitation"
SSO_REFCODES="[]"

